
{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html>
    <body>
        <p>From: {{ user_email }}</p>
        <p>Subject: {{ objet }}</p>
        <p>Message: {{ message }}</p>
    </body>
</html>
{% endblock %}